{% extends "modules/views/_base-view/base-view.html" %}
{% from "modules/components/section-header/_section-header.html" import sectionHeader %}

{% block content %}
<section class="section-portfolio page-section"
		data-component="section-portfolio"
		id="portfolio">

	{{ sectionHeader('Portfolio') }}

	<div class="cases-header">
		<img class="cases-header-image" src="media/{{content.headerImage}}" alt="{{content.imageAltText}}">
	</div>

	<div class="item">
		{% if content.isCase == "case" %}
		<div class="ribbon">
			<span>case</span>
		</div>
		{% endif %}
		<article class="portfolio-article">
			<header>
				<h1>{{content.title}}</h1>
			</header>

			<div class="item-text article-body" itemprop="articleBody">
				{% block portfolio %}
				{% endblock %}
			</div>
		</article>
	</div>

</section>
{% endblock %}
