{% extends "modules/views/_single-portfolio-item/_single-portfolio-item.html" %}
<!-- $_PORTFOLIO_ITEM_NAME_$ -->

{% block portfolio %}
<div class="$_CSS_CLASS_$" data-component="$_PORTFOLIO_ITEM_NAME_$">
	Write HTML for `$_PORTFOLIO_ITEM_NAME_$` portfolio-item
</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
	{{ super() }}
{% endblock %}

<!-- /$_PORTFOLIO_ITEM_NAME_$ -->
