{% extends "modules/views/_base-view/base-view.html" %}

{% block content %}
<div class="content-block">
    <h1>Page content</h1>
    <p>
        Contents here inside a paragraph. Contained <a href="#">links</a> are direct tab-able,
        when this main content received focus by an available skip link. Introduction to the
        website. Tell what it is for.
    </p>
</div>
<div>
    <div class="sub-content-block">
        <h2>About Fed Ape</h2>
        <p>
            Sub content described here.
        </p>
    </div>
    <div class="sub-content-block">
        <h2>Patterns</h2>
        <p>
            Sub content described here.
        </p>
    </div>
    <div class="sub-content-block">
        <h2>Checklists</h2>
        <p>
            Sub content described here.
        </p>
    </div>
    <div class="sub-content-block">
        <h2>Documentation</h2>
        <p>
            Sub content described here.
        </p>
    </div>
</div>
<footer>
    <div class="contribute">
        <p>Start to <a href="#contribute">contribute to Fed Ape on GitHub</a>!</p>
    </div>
</footer>
{% endblock %}