<!-- site-footer -->
<footer class="site-footer">
    <nav class="site-footer-navigation">
        <h2>Information</h2>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#contact" rel="author">Contact</a></li>
            <li><a href="#license" rel="license">License</a></li>
            <li><a href="#sitemap" rel="sitemap">Sitemap</a></li>
        </ul>
    </nav>
    <div class="footer-copyright">
        <p>
            Fed&nbsp;Ape © 2014 Copyright / License Roel&nbsp;Victor&nbsp;Antonisse
        </p>
    </div>
</footer>
<!-- /site-footer -->
