<!-- site-header -->
<header class="site-header">
    <div class="site-header-title">
        <h1>Fed&nbsp;Ape</h1>
        <p>Front-end development<br>
            Accessibility Pattern Encyclopedia</p>
        <img class="site-header-title-image" src="image/logo.png" alt="">
    </div>

    <!-- Skip menu -->
    <div class="site-header-skip-menu">
        <a href="#page-main-content">Go to the page's main content</a>
    </div>
    <!-- /Skip menu -->

    <!--Navigation-->
    <nav class="site-navigation">
        <h2 class="site-navigation-title">Site navigation</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pattern">Patterns</a></li>
            <li><a href="/documentation">Documentation</a></li>
        </ul>
    </nav>
    <!--/Navigation-->
</header>
<!-- /site-header -->
